body {
    /* background: url("photo.jpg"); */
    background: linear-gradient(95deg,#6c5ce7,#FC427B);
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    background-color: #ffffff3c;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    padding-right:45px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select,
  input[type="number"],
  input[type="phone"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    /* margin-right: 10px; */
  }
  select{
    width: 107%;
  }
  select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%23555555"><path d="M10 12l-6-6h12z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 107%;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #4caf50;
  }
  
  .form-switch a{
    text-decoration: none;
    color: #000000;
  }
  .form-switch p{
text-align: center;
  }

  .form-switch a:hover{
    color:#007bff
  }